<div class="container-fluid">
  <h1 class="text-primary fs-1 pt-5">NGX Webcam Applications</h1>
  <div>
    <button class="btn btn-primary" (click)="checkPermissions()">Check the Webcam Permissions</button>
    <p *ngIf="status" class="mt-3 text-white">Status Here : {{status}}</p>
  </div>

  <!-- Webcam video will show here -->
  <div *ngIf="stream" class="mt-2">
    <webcam [trigger]="$trigger" (imageCapture)="snapshot($event)" [imageQuality]="1"></webcam><br>
    <button (click)="captureImage()" class="btn btn-success mt-2" >{{btnLabel}}</button>
  </div>
  
  
  <!---Preview Section -->
  <div *ngIf="previewImage">
    <img class="mt-2" [src]="previewImage" height="200" width="380" alt=""><br>
    <button class="btn btn-secondary mt-2" (click)="Proceed()">Proceed</button>
  </div>

</div>